.piplup {
  margin: auto;
  position: absolute;
  top: -30px;
  left: 0;
  transform: scale(.3);
  z-index: 2;
  height: 5px;
  width: 5px;
  box-shadow:
    15px 60px 0 0 #5f7d99,
    15px 65px 0 0 #5f7d99,
    15px 70px 0 0 #5f7d99,
    15px 75px 0 0 #5f7d99,
    15px 80px 0 0 #5f7d99,
    20px 45px 0 0 #1d629d,
    20px 50px 0 0 #1d629d,
    20px 55px 0 0 #5f7d99,
    20px 60px 0 0 #ffffff,
    20px 65px 0 0 #ffffff,
    20px 70px 0 0 #ffffff,
    20px 75px 0 0 #bdcddc,
    20px 80px 0 0 #bdcddc,
    20px 85px 0 0 #5f7d99,
    20px 90px 0 0 #5f7d99,
    25px 35px 0 0 #1d629d,
    25px 40px 0 0 #318bd7,
    25px 45px 0 0 #318bd7,
    25px 50px 0 0 #318bd7,
    25px 55px 0 0 #9ad7f6,
    25px 60px 0 0 #9ad7f6,
    25px 65px 0 0 #67a2c0,
    25px 70px 0 0 #67a2c0,
    25px 75px 0 0 #67a2c0,
    25px 80px 0 0 #bdcddc,
    25px 85px 0 0 #ad8435,
    25px 90px 0 0 #ad8435,
    25px 95px 0 0 #5f7d99,
    30px 30px 0 0 #1d629d,
    30px 35px 0 0 #68a4ed,
    30px 40px 0 0 #318bd7,
    30px 45px 0 0 #318bd7,
    30px 50px 0 0 #318bd7,
    30px 55px 0 0 #318bd7,
    30px 60px 0 0 #9ad7f6,
    30px 65px 0 0 #9ad7f6,
    30px 70px 0 0 #9ad7f6,
    30px 75px 0 0 #9ad7f6,
    30px 80px 0 0 #ad8435,
    30px 85px 0 0 #ffedc5,
    30px 90px 0 0 #ffedc5,
    30px 95px 0 0 #644a0f,
    30px 100px 0 0 #000000,
    30px 135px 0 0 #67a2c0,
    30px 140px 0 0 #056c7d,
    35px 25px 0 0 #1d629d,
    35px 30px 0 0 #68a4ed,
    35px 35px 0 0 #68a4ed,
    35px 40px 0 0 #68a4ed,
    35px 45px 0 0 #318bd7,
    35px 50px 0 0 #318bd7,
    35px 55px 0 0 #9ad7f6,
    35px 60px 0 0 #9ad7f6,
    35px 65px 0 0 #9ad7f6,
    35px 70px 0 0 #9ad7f6,
    35px 75px 0 0 #67a2c0,
    35px 80px 0 0 #ffedc5,
    35px 85px 0 0 #ffedc5,
    35px 90px 0 0 #f6cb49,
    35px 95px 0 0 #f6cb49,
    35px 100px 0 0 #644a0f,
    35px 125px 0 0 #1d629d,
    35px 130px 0 0 #1d629d,
    35px 135px 0 0 #9ad7f6,
    35px 140px 0 0 #9ad7f6,
    35px 145px 0 0 #056c7d,
    40px 25px 0 0 #318bd7,
    40px 30px 0 0 #68a4ed,
    40px 35px 0 0 #68a4ed,
    40px 40px 0 0 #68a4ed,
    40px 45px 0 0 #68a4ed,
    40px 50px 0 0 #9ad7f6,
    40px 55px 0 0 #9ad7f6,
    40px 60px 0 0 #9ad7f6,
    40px 65px 0 0 #9ad7f6,
    40px 70px 0 0 #9ad7f6,
    40px 75px 0 0 #67a2c0,
    40px 80px 0 0 #ffedc5,
    40px 85px 0 0 #f6cb49,
    40px 90px 0 0 #f6cb49,
    40px 95px 0 0 #ad8435,
    40px 100px 0 0 #644a0f,
    40px 105px 0 0 #000000,
    40px 120px 0 0 #1d629d,
    40px 125px 0 0 #67a2c0,
    40px 130px 0 0 #9ad7f6,
    40px 135px 0 0 #9ad7f6,
    40px 140px 0 0 #9ad7f6,
    40px 145px 0 0 #000000,
    40px 170px 0 0 #644a0f,
    45px 20px 0 0 #1d629d,
    45px 25px 0 0 #68a4ed,
    45px 30px 0 0 #68a4ed,
    45px 35px 0 0 #68a4ed,
    45px 40px 0 0 #68a4ed,
    45px 45px 0 0 #318bd7,
    45px 50px 0 0 #318bd7,
    45px 55px 0 0 #318bd7,
    45px 60px 0 0 #9ad7f6,
    45px 65px 0 0 #9ad7f6,
    45px 70px 0 0 #9ad7f6,
    45px 75px 0 0 #9ad7f6,
    45px 80px 0 0 #67a2c0,
    45px 85px 0 0 #f6cb49,
    45px 90px 0 0 #f6cb49,
    45px 95px 0 0 #644a0f,
    45px 100px 0 0 #ad8435,
    45px 105px 0 0 #000000,
    45px 115px 0 0 #1d629d,
    45px 120px 0 0 #104a72,
    45px 125px 0 0 #67a2c0,
    45px 130px 0 0 #67a2c0,
    45px 135px 0 0 #056c7d,
    45px 140px 0 0 #056c7d,
    45px 165px 0 0 #ad8435,
    45px 170px 0 0 #f6cb49,
    45px 175px 0 0 #644a0f,
    50px 20px 0 0 #1d629d,
    50px 25px 0 0 #68a4ed,
    50px 30px 0 0 #68a4ed,
    50px 35px 0 0 #68a4ed,
    50px 40px 0 0 #68a4ed,
    50px 45px 0 0 #318bd7,
    50px 50px 0 0 #318bd7,
    50px 55px 0 0 #6fa2e1,
    50px 60px 0 0 #9ad7f6,
    50px 65px 0 0 #9ad7f6,
    50px 70px 0 0 #67a2c0,
    50px 75px 0 0 #67a2c0,
    50px 80px 0 0 #67a2c0,
    50px 85px 0 0 #ad8435,
    50px 90px 0 0 #644a0f,
    50px 95px 0 0 #ad8435,
    50px 100px 0 0 #644a0f,
    50px 105px 0 0 #bdcddc,
    50px 110px 0 0 #0d4c78,
    50px 115px 0 0 #318bd7,
    50px 120px 0 0 #318bd7,
    50px 125px 0 0 #104a72,
    50px 130px 0 0 #056c7d,
    50px 135px 0 0 #ffffff,
    50px 140px 0 0 #ffffff,
    50px 145px 0 0 #67a2c0,
    50px 150px 0 0 #056c7d,
    50px 165px 0 0 #644a0f,
    50px 170px 0 0 #ad8435,
    50px 175px 0 0 #000000,
    55px 15px 0 0 #1d629d,
    55px 20px 0 0 #68a4ed,
    55px 25px 0 0 #68a4ed,
    55px 30px 0 0 #68a4ed,
    55px 35px 0 0 #68a4ed,
    55px 40px 0 0 #68a4ed,
    55px 45px 0 0 #318bd7,
    55px 50px 0 0 #318bd7,
    55px 55px 0 0 #9ad7f6,
    55px 60px 0 0 #67a2c0,
    55px 65px 0 0 #67a2c0,
    55px 70px 0 0 #ffffff,
    55px 75px 0 0 #ffffff,
    55px 80px 0 0 #ffffff,
    55px 85px 0 0 #ffffff,
    55px 90px 0 0 #ffffff,
    55px 95px 0 0 #bdcddc,
    55px 100px 0 0 #bdcddc,
    55px 105px 0 0 #bdcddc,
    55px 110px 0 0 #318bd7,
    55px 115px 0 0 #318bd7,
    55px 120px 0 0 #318bd7,
    55px 125px 0 0 #1d629d,
    55px 130px 0 0 #9ad7f6,
    55px 135px 0 0 #bbcfd8,
    55px 140px 0 0 #ffffff,
    55px 145px 0 0 #ffffff,
    55px 150px 0 0 #67a2c0,
    55px 155px 0 0 #056c7d,
    55px 165px 0 0 #644a0f,
    55px 170px 0 0 #f6cb49,
    55px 175px 0 0 #000000,
    60px 15px 0 0 #1d629d,
    60px 20px 0 0 #68a4ed,
    60px 25px 0 0 #68a4ed,
    60px 30px 0 0 #68a4ed,
    60px 35px 0 0 #68a4ed,
    60px 40px 0 0 #318bd7,
    60px 45px 0 0 #318bd7,
    60px 50px 0 0 #318bd7,
    60px 55px 0 0 #104a72,
    60px 60px 0 0 #ffffff,
    60px 65px 0 0 #ffffff,
    60px 70px 0 0 #ffffff,
    60px 75px 0 0 #ffffff,
    60px 80px 0 0 #ffffff,
    60px 85px 0 0 #ffffff,
    60px 90px 0 0 #ffffff,
    60px 95px 0 0 #ffffff,
    60px 100px 0 0 #bdcddc,
    60px 105px 0 0 #bdcddc,
    60px 110px 0 0 #0d4c78,
    60px 115px 0 0 #318bd7,
    60px 120px 0 0 #318bd7,
    60px 125px 0 0 #67a2c0,
    60px 130px 0 0 #9ad7f6,
    60px 135px 0 0 #9ad7f6,
    60px 140px 0 0 #9ad7f6,
    60px 145px 0 0 #9ad7f6,
    60px 150px 0 0 #67a2c0,
    60px 155px 0 0 #67a2c0,
    60px 160px 0 0 #056c7d,
    60px 165px 0 0 #ad8435,
    60px 170px 0 0 #ad8435,
    60px 175px 0 0 #000000,
    65px 15px 0 0 #104a72,
    65px 20px 0 0 #68a4ed,
    65px 25px 0 0 #68a4ed,
    65px 30px 0 0 #68a4ed,
    65px 35px 0 0 #68a4ed,
    65px 40px 0 0 #318bd7,
    65px 45px 0 0 #318bd7,
    65px 50px 0 0 #104a72,
    65px 55px 0 0 #ffffff,
    65px 60px 0 0 #ffffff,
    65px 65px 0 0 #ffffff,
    65px 70px 0 0 #ffffff,
    65px 75px 0 0 #ffffff,
    65px 80px 0 0 #ffffff,
    65px 85px 0 0 #ffffff,
    65px 90px 0 0 #ffffff,
    65px 95px 0 0 #ffffff,
    65px 100px 0 0 #bdcddc,
    65px 105px 0 0 #bdcddc,
    65px 110px 0 0 #0d4c78,
    65px 115px 0 0 #318bd7,
    65px 120px 0 0 #104a72,
    65px 125px 0 0 #9ad7f6,
    65px 130px 0 0 #9ad7f6,
    65px 135px 0 0 #9ad7f6,
    65px 140px 0 0 #9ad7f6,
    65px 145px 0 0 #9ad7f6,
    65px 150px 0 0 #9ad7f6,
    65px 155px 0 0 #67a2c0,
    65px 160px 0 0 #056c7d,
    65px 165px 0 0 #ad8435,
    65px 170px 0 0 #644a0f,
    70px 15px 0 0 #104a72,
    70px 20px 0 0 #318bd7,
    70px 25px 0 0 #68a4ed,
    70px 30px 0 0 #68a4ed,
    70px 35px 0 0 #318bd7,
    70px 40px 0 0 #318bd7,
    70px 45px 0 0 #318bd7,
    70px 50px 0 0 #bdcddc,
    70px 55px 0 0 #ffffff,
    70px 60px 0 0 #ffffff,
    70px 65px 0 0 #ffffff,
    70px 70px 0 0 #bdcddc,
    70px 75px 0 0 #000000,
    70px 80px 0 0 #000000,
    70px 85px 0 0 #000000,
    70px 90px 0 0 #5f7d99,
    70px 95px 0 0 #ffffff,
    70px 100px 0 0 #bdcddc,
    70px 105px 0 0 #bdcddc,
    70px 110px 0 0 #0d4c78,
    70px 115px 0 0 #1d629d,
    70px 120px 0 0 #318bd7,
    70px 125px 0 0 #104a72,
    70px 130px 0 0 #9ad7f6,
    70px 135px 0 0 #bbcfd8,
    70px 140px 0 0 #ffffff,
    70px 145px 0 0 #bbcfd8,
    70px 150px 0 0 #9ad7f6,
    70px 155px 0 0 #67a2c0,
    70px 160px 0 0 #67a2c0,
    70px 165px 0 0 #ad8435,
    70px 170px 0 0 #000000,
    75px 15px 0 0 #104a72,
    75px 20px 0 0 #318bd7,
    75px 25px 0 0 #318bd7,
    75px 30px 0 0 #318bd7,
    75px 35px 0 0 #318bd7,
    75px 40px 0 0 #318bd7,
    75px 45px 0 0 #104a72,
    75px 50px 0 0 #ffffff,
    75px 55px 0 0 #ffffff,
    75px 60px 0 0 #ffffff,
    75px 65px 0 0 #ffffff,
    75px 70px 0 0 #5f7d99,
    75px 75px 0 0 #ffffff,
    75px 80px 0 0 #ffffff,
    75px 85px 0 0 #000000,
    75px 90px 0 0 #000000,
    75px 95px 0 0 #ffffff,
    75px 100px 0 0 #bdcddc,
    75px 105px 0 0 #bdcddc,
    75px 110px 0 0 #0d4c78,
    75px 115px 0 0 #1d629d,
    75px 120px 0 0 #318bd7,
    75px 125px 0 0 #318bd7,
    75px 130px 0 0 #1d629d,
    75px 135px 0 0 #ffffff,
    75px 140px 0 0 #ffffff,
    75px 145px 0 0 #ffffff,
    75px 150px 0 0 #9ad7f6,
    75px 155px 0 0 #67a2c0,
    75px 160px 0 0 #67a2c0,
    75px 165px 0 0 #000000,
    80px 15px 0 0 #1d629d,
    80px 20px 0 0 #318bd7,
    80px 25px 0 0 #318bd7,
    80px 30px 0 0 #318bd7,
    80px 35px 0 0 #318bd7,
    80px 40px 0 0 #318bd7,
    80px 45px 0 0 #104a72,
    80px 50px 0 0 #ffffff,
    80px 55px 0 0 #ffffff,
    80px 60px 0 0 #ffffff,
    80px 65px 0 0 #ffffff,
    80px 70px 0 0 #bdcddc,
    80px 75px 0 0 #000000,
    80px 80px 0 0 #000000,
    80px 85px 0 0 #000000,
    80px 90px 0 0 #5f7d99,
    80px 95px 0 0 #ffffff,
    80px 100px 0 0 #bdcddc,
    80px 105px 0 0 #5fa5c9,
    80px 110px 0 0 #1d629d,
    80px 115px 0 0 #1d629d,
    80px 120px 0 0 #318bd7,
    80px 125px 0 0 #318bd7,
    80px 130px 0 0 #1d629d,
    80px 135px 0 0 #bbcfd8,
    80px 140px 0 0 #ffffff,
    80px 145px 0 0 #bbcfd8,
    80px 150px 0 0 #67a2c0,
    80px 155px 0 0 #67a2c0,
    80px 160px 0 0 #67a2c0,
    80px 165px 0 0 #000000,
    85px 15px 0 0 #1d629d,
    85px 20px 0 0 #318bd7,
    85px 25px 0 0 #318bd7,
    85px 30px 0 0 #318bd7,
    85px 35px 0 0 #318bd7,
    85px 40px 0 0 #318bd7,
    85px 45px 0 0 #104a72,
    85px 50px 0 0 #ffffff,
    85px 55px 0 0 #ffffff,
    85px 60px 0 0 #ffffff,
    85px 65px 0 0 #ffffff,
    85px 70px 0 0 #ffffff,
    85px 75px 0 0 #ffffff,
    85px 80px 0 0 #ffffff,
    85px 85px 0 0 #ffffff,
    85px 90px 0 0 #ffffff,
    85px 95px 0 0 #bdcddc,
    85px 100px 0 0 #bdcddc,
    85px 105px 0 0 #0d4c78,
    85px 110px 0 0 #1d629d,
    85px 115px 0 0 #1d629d,
    85px 120px 0 0 #318bd7,
    85px 125px 0 0 #1d629d,
    85px 130px 0 0 #67a2c0,
    85px 135px 0 0 #67a2c0,
    85px 140px 0 0 #67a2c0,
    85px 145px 0 0 #9ad7f6,
    85px 150px 0 0 #67a2c0,
    85px 155px 0 0 #67a2c0,
    85px 160px 0 0 #67a2c0,
    85px 165px 0 0 #056c7d,
    85px 180px 0 0 #ad8435,
    90px 20px 0 0 #1d629d,
    90px 25px 0 0 #318bd7,
    90px 30px 0 0 #318bd7,
    90px 35px 0 0 #318bd7,
    90px 40px 0 0 #318bd7,
    90px 45px 0 0 #318bd7,
    90px 50px 0 0 #bdcddc,
    90px 55px 0 0 #ffffff,
    90px 60px 0 0 #ffffff,
    90px 65px 0 0 #ffffff,
    90px 70px 0 0 #ffffff,
    90px 75px 0 0 #ffffff,
    90px 80px 0 0 #ffffff,
    90px 85px 0 0 #ffffff,
    90px 90px 0 0 #ffffff,
    90px 95px 0 0 #bdcddc,
    90px 100px 0 0 #0d4c78,
    90px 105px 0 0 #1d629d,
    90px 110px 0 0 #1d629d,
    90px 115px 0 0 #1d629d,
    90px 120px 0 0 #1d629d,
    90px 125px 0 0 #000000,
    90px 130px 0 0 #056c7d,
    90px 135px 0 0 #9ad7f6,
    90px 140px 0 0 #9ad7f6,
    90px 145px 0 0 #67a2c0,
    90px 150px 0 0 #056c7d,
    90px 155px 0 0 #67a2c0,
    90px 160px 0 0 #67a2c0,
    90px 165px 0 0 #67a2c0,
    90px 170px 0 0 #056c7d,
    90px 175px 0 0 #ad8435,
    90px 180px 0 0 #ffedc5,
    90px 185px 0 0 #000000,
    95px 20px 0 0 #104a72,
    95px 25px 0 0 #318bd7,
    95px 30px 0 0 #318bd7,
    95px 35px 0 0 #318bd7,
    95px 40px 0 0 #318bd7,
    95px 45px 0 0 #318bd7,
    95px 50px 0 0 #104a72,
    95px 55px 0 0 #ffffff,
    95px 60px 0 0 #ffffff,
    95px 65px 0 0 #ffffff,
    95px 70px 0 0 #ffffff,
    95px 75px 0 0 #ffffff,
    95px 80px 0 0 #ffffff,
    95px 85px 0 0 #ffffff,
    95px 90px 0 0 #bdcddc,
    95px 95px 0 0 #bdcddc,
    95px 100px 0 0 #0d4c78,
    95px 105px 0 0 #1d629d,
    95px 110px 0 0 #1d629d,
    95px 115px 0 0 #104a72,
    95px 120px 0 0 #000000,
    95px 125px 0 0 #9ad7f6,
    95px 130px 0 0 #9ad7f6,
    95px 135px 0 0 #9ad7f6,
    95px 140px 0 0 #9ad7f6,
    95px 145px 0 0 #9ad7f6,
    95px 150px 0 0 #9ad7f6,
    95px 155px 0 0 #056c7d,
    95px 160px 0 0 #67a2c0,
    95px 165px 0 0 #67a2c0,
    95px 170px 0 0 #056c7d,
    95px 175px 0 0 #f6cb49,
    95px 180px 0 0 #ad8435,
    95px 185px 0 0 #000000,
    100px 25px 0 0 #1d629d,
    100px 30px 0 0 #318bd7,
    100px 35px 0 0 #318bd7,
    100px 40px 0 0 #318bd7,
    100px 45px 0 0 #318bd7,
    100px 50px 0 0 #318bd7,
    100px 55px 0 0 #104a72,
    100px 60px 0 0 #bdcddc,
    100px 65px 0 0 #ffffff,
    100px 70px 0 0 #ffffff,
    100px 75px 0 0 #ffffff,
    100px 80px 0 0 #ffffff,
    100px 85px 0 0 #ffffff,
    100px 90px 0 0 #5fa5c9,
    100px 95px 0 0 #0d4c78,
    100px 100px 0 0 #1d629d,
    100px 105px 0 0 #000000,
    100px 110px 0 0 #1d629d,
    100px 115px 0 0 #000000,
    100px 120px 0 0 #67a2c0,
    100px 125px 0 0 #9ad7f6,
    100px 130px 0 0 #9ad7f6,
    100px 135px 0 0 #9ad7f6,
    100px 140px 0 0 #9ad7f6,
    100px 145px 0 0 #9ad7f6,
    100px 150px 0 0 #9ad7f6,
    100px 155px 0 0 #056c7d,
    100px 160px 0 0 #67a2c0,
    100px 165px 0 0 #67a2c0,
    100px 170px 0 0 #ad8435,
    100px 175px 0 0 #f6cb49,
    100px 180px 0 0 #ffedc5,
    100px 185px 0 0 #000000,
    105px 25px 0 0 #104a72,
    105px 30px 0 0 #318bd7,
    105px 35px 0 0 #318bd7,
    105px 40px 0 0 #318bd7,
    105px 45px 0 0 #318bd7,
    105px 50px 0 0 #318bd7,
    105px 55px 0 0 #318bd7,
    105px 60px 0 0 #318bd7,
    105px 65px 0 0 #1d629d,
    105px 70px 0 0 #0d4c78,
    105px 75px 0 0 #0d4c78,
    105px 80px 0 0 #0d4c78,
    105px 85px 0 0 #0d4c78,
    105px 90px 0 0 #1d629d,
    105px 95px 0 0 #1d629d,
    105px 100px 0 0 #1d629d,
    105px 105px 0 0 #000000,
    105px 110px 0 0 #1d629d,
    105px 115px 0 0 #104a72,
    105px 120px 0 0 #67a2c0,
    105px 125px 0 0 #67a2c0,
    105px 130px 0 0 #9ad7f6,
    105px 135px 0 0 #9ad7f6,
    105px 140px 0 0 #9ad7f6,
    105px 145px 0 0 #9ad7f6,
    105px 150px 0 0 #056c7d,
    105px 155px 0 0 #67a2c0,
    105px 160px 0 0 #67a2c0,
    105px 165px 0 0 #056c7d,
    105px 170px 0 0 #ad8435,
    105px 175px 0 0 #ad8435,
    105px 180px 0 0 #000000,
    110px 30px 0 0 #104a72,
    110px 35px 0 0 #318bd7,
    110px 40px 0 0 #318bd7,
    110px 45px 0 0 #318bd7,
    110px 50px 0 0 #318bd7,
    110px 55px 0 0 #318bd7,
    110px 60px 0 0 #318bd7,
    110px 65px 0 0 #318bd7,
    110px 70px 0 0 #318bd7,
    110px 75px 0 0 #318bd7,
    110px 80px 0 0 #318bd7,
    110px 85px 0 0 #1d629d,
    110px 90px 0 0 #1d629d,
    110px 95px 0 0 #1d629d,
    110px 100px 0 0 #000000,
    110px 110px 0 0 #000000,
    110px 115px 0 0 #1d629d,
    110px 120px 0 0 #104a72,
    110px 125px 0 0 #67a2c0,
    110px 130px 0 0 #67a2c0,
    110px 135px 0 0 #67a2c0,
    110px 140px 0 0 #056c7d,
    110px 145px 0 0 #056c7d,
    110px 150px 0 0 #67a2c0,
    110px 155px 0 0 #67a2c0,
    110px 160px 0 0 #000000,
    110px 170px 0 0 #644a0f,
    110px 175px 0 0 #000000,
    115px 35px 0 0 #104a72,
    115px 40px 0 0 #318bd7,
    115px 45px 0 0 #318bd7,
    115px 50px 0 0 #318bd7,
    115px 55px 0 0 #318bd7,
    115px 60px 0 0 #318bd7,
    115px 65px 0 0 #318bd7,
    115px 70px 0 0 #318bd7,
    115px 75px 0 0 #318bd7,
    115px 80px 0 0 #1d629d,
    115px 85px 0 0 #1d629d,
    115px 90px 0 0 #1d629d,
    115px 95px 0 0 #000000,
    115px 110px 0 0 #000000,
    115px 115px 0 0 #104a72,
    115px 120px 0 0 #1d629d,
    115px 125px 0 0 #000000,
    115px 130px 0 0 #104a72,
    115px 135px 0 0 #67a2c0,
    115px 140px 0 0 #67a2c0,
    115px 145px 0 0 #67a2c0,
    115px 150px 0 0 #056c7d,
    115px 155px 0 0 #000000,
    120px 40px 0 0 #104a72,
    120px 45px 0 0 #104a72,
    120px 50px 0 0 #318bd7,
    120px 55px 0 0 #318bd7,
    120px 60px 0 0 #318bd7,
    120px 65px 0 0 #318bd7,
    120px 70px 0 0 #318bd7,
    120px 75px 0 0 #1d629d,
    120px 80px 0 0 #1d629d,
    120px 85px 0 0 #000000,
    120px 90px 0 0 #000000,
    120px 115px 0 0 #000000,
    120px 120px 0 0 #1d629d,
    120px 125px 0 0 #1d629d,
    120px 130px 0 0 #1d629d,
    120px 135px 0 0 #104a72,
    120px 140px 0 0 #000000,
    120px 145px 0 0 #000000,
    120px 150px 0 0 #000000,
    125px 50px 0 0 #104a72,
    125px 55px 0 0 #104a72,
    125px 60px 0 0 #000000,
    125px 65px 0 0 #000000,
    125px 70px 0 0 #000000,
    125px 75px 0 0 #000000,
    125px 80px 0 0 #000000,
    125px 115px 0 0 #104a72,
    125px 120px 0 0 #000000,
    125px 125px 0 0 #1d629d,
    125px 130px 0 0 #1d629d,
    125px 135px 0 0 #1d629d,
    125px 140px 0 0 #1d629d,
    125px 145px 0 0 #000000,
    130px 110px 0 0 #000000,
    130px 115px 0 0 #318bd7,
    130px 120px 0 0 #318bd7,
    130px 125px 0 0 #000000,
    130px 130px 0 0 #000000,
    130px 135px 0 0 #1d629d,
    130px 140px 0 0 #1d629d,
    130px 145px 0 0 #000000,
    135px 115px 0 0 #000000,
    135px 120px 0 0 #000000,
    135px 125px 0 0 #1d629d,
    135px 130px 0 0 #1d629d,
    135px 135px 0 0 #000000,
    135px 140px 0 0 #000000,
    140px 120px 0 0 #000000,
    140px 125px 0 0 #318bd7,
    140px 130px 0 0 #000000,
    140px 135px 0 0 #000000,
    145px 125px 0 0 #000000;
}