:root {
  --shadowEyes: #fff;
  --colorShadow: #000;
}

.shadow {
  width: 150px;
  height: 400px;
  position: absolute;
  left: 62px;
  transform: scale(1);
  z-index: 1;
}

.shadow__head {
  width: 90px;
  height: 120px;
  background: var(--colorShadow);
  border-radius: 50% 50%;
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 2;
  animation:
    showWords 1.3s 2s ease-out forwards,
    movingFace 1.3s 2s ease infinite
  ;
}

.shadow__head::before {
  content: '';
  width: 10px;
  height: 10px;
  background: var(--shadowEyes);
  border-radius: 50%;
  position: absolute;
}

.shadow__head::before {
  content: '';
  width: 10px;
  height: 20px;
  background: #fff;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 30px;
  left: 30px;
}

.shadow__head::after {
  content: '';
  width: 10px;
  height: 20px;
  background: #fff;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 30px;
  left: 50px;
}

.shadow__mouth {
  width: 30px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  border-bottom: 10px solid var(--shadowEyes);
  border-radius: 50%;
  left: 30px;
}

.shadow__body {
  width: 150px;
  height: 400px;
  background: var(--colorShadow);
  border-radius: 40% 50% 20% 20%;
  position: absolute;
  z-index: 1;
}

.shadow__base {
  width: 160px;
  height: 30px;
  background: var(--colorShadow);
  border-radius: 50%;
  position: absolute;
  bottom: -15px;
  transform:skew(70deg, 356deg);
}

.shadow--scene1 {
  animation:
    showWords .6s 35s forwards paused,
    hiddenWords .6s 36s forwards paused
  ;
}

.shadow--scene4 {
  height: 100px;
  bottom: 40px;
  left: 100px;
  animation:
    showWords .6s 2s forwards paused,
    appearingShadow 2s 2s forwards paused,
    growthShadow 2s 35s forwards paused,
    decreaseShadow 1s 91s forwards paused,
    hiddenWords 1s 101s ease-out forwards paused
  ;
}

.shadow--scene4 .shadow__head {
  top: -75px;
  animation:
    movingFace 1.3s 3s paused ease infinite
  ;
}

.shadow--scene4 .shadow__body {
  height: 100px;
  animation: appearingShadow 2s 2s forwards paused;
}

.shadow--scene4 .shadow__head .shadow__mouth {
  animation: showWords 1s 99s forwards paused;
}

@keyframes moveUp {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movingFace {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes appearingShadow {
  from {
    height: 100px;
  }
  to {
    height: 400px;
  }
}

@keyframes growthShadow {
  from {
    transform: scale(1) translate(0, 0);
  }
  to {
    transform: scale(1.1) translate(0, -20px);
  }
}

@keyframes decreaseShadow {
  from {
    transform: scale(1.1) translate(0, -20px);
  }
  to {
    transform: scale(.7) translate(0, 20px);
  }
}